    <!-- Page preloader-->
    <!-- <div class="page-loader"> 
        <div class="page-loader-body"> 
          <div class="preloader-wrapper big active"> 
            <div class="spinner-layer spinner-blue"> 
              <div class="circle-clipper left">
                <div class="circle"> </div>
              </div>
              <div class="gap-patch">
                <div class="circle"> </div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"> </div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner-layer spinner-yellow"> 
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"> </div>
              </div>
            </div>
            <div class="spinner-layer spinner-green"> 
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Page-->
      <!-- <div class="page"><a class="section section-banner text-center d-none d-xl-block" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )"><img src="images/banner/foreground-04-1600x60.png" srcset="images/banner/foreground-04-1600x60.png 1x, images/banner/foreground-04-3200x120.png 2x" alt="" width="1600" height="310"></a> -->
        <!-- Page Header-->
        <header class="section page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2 novi-background bg-cover">
          <!-- RD Navbar-->
          <div class="rd-navbar-wrap rd-navbar-default">
            <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-md-stick-up-offset="2px" data-lg-stick-up-offset="2px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true">
              <div class="rd-navbar-inner"> 
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-default" src="" alt="" width="208" height="46"/><img class="logo-inverse" src="" alt="" width="208" height="46"/></a></div>
                </div>
                <div class="rd-navbar-aside-right">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html">Home</a>
                      </li>
                      <li class="active"><a href="about-us.html">About Us</a>
                      </li>
                      <li><a href="contacts.html">Contact us</a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <!-- Breadcrumbs-->
          <section class="breadcrumbs-custom" style="background: url(&quot;images/aboutus.jpg&quot;); background-size: cover;">
            <div class="container">
              <p class="breadcrumbs-custom-subtitle">Who We Are</p>
              <p class="heading-1 breadcrumbs-custom-title">About Us</p>
              <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active">About Us</li>
              </ul>
            </div>
          </section>
  
        </header>
        <!-- hi, we are brave-->
        <section class="section section-lg bg-default">
          <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center align-items-lg-center justify-content-xl-between flex-lg-row-reverse">
              <div class="col-md-10 col-lg-6 col-xl-5">
                <h3> we are HSRW Students</h3>
                <div class="divider divider-decorate"></div>
                <p class="heading-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                <p class="text-spacing-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p><a class="button button-default-outline button-nina" href="#">learn more</a>
              </div>
              <div class="col-md-10 col-lg-6"><img src="assets/images/aboutus.jpg" alt="" width="720" height="459"/>
              </div>
            </div>
          </div>
        </section>
  
      
        
        <!-- our team-->
        <section class="section section-lg text-center novi-background bg-cover">
          <div class="container container-wide">
            <h3> OUR TEAM</h3>
            <div class="divider divider-decorate"></div>
            <div class="row row-50 row-xxl-90 justify-content-sm-center offset-custom-2">
              <div class="col-md-5 col-lg-2">
                <div class="team-classic team-classic-circle">
                  <figure><img class="rounded-circle" src="assets/images/team-07-300x300.jpg" alt="" width="300" height="300"/>
                  </figure>
                  <div class="team-classic-caption">
                    <h5><a class="team-classic-title" href="#">Jannatul Ferdows</a></h5>
                    <p class="team-classic-job-position">Team leader</p>
                    <ul class="list-inline list-team">
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-2">
                <div class="team-classic team-classic-circle">
                  <figure><img class="rounded-circle" src="assets/images/team-08-300x300.jpg" alt="" width="300" height="300"/>
                  </figure>
                  <div class="team-classic-caption">
                    <h5><a class="team-classic-title" href="#">Sina Navid</a></h5>
                    <p class="team-classic-job-position">#</p>
                    <ul class="list-inline list-team">
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-2">
                <div class="team-classic team-classic-circle">
                  <figure><img class="rounded-circle" src="assets/images/team-09-300x300.jpg" alt="" width="300" height="300"/>
                  </figure>
                  <div class="team-classic-caption">
                    <h5><a class="team-classic-title" href="#">Sakibur Rahman</a></h5>
                    <p class="team-classic-job-position">#</p>
                    <ul class="list-inline list-team">
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-2">
                <div class="team-classic team-classic-circle">
                  <figure><img class="rounded-circle" src="assets/images/team-10-300x300.jpg" alt="" width="300" height="300"/>
                  </figure>
                  <div class="team-classic-caption">
                    <h5><a class="team-classic-title" href="#">Md Rashedul Islam</a></h5>
                    <p class="team-classic-job-position">#</p>
                    <ul class="list-inline list-team">
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-2">
                <div class="team-classic team-classic-circle">
                  <figure><img class="rounded-circle" src="assets/images/team-12-300x300.jpg" alt="" width="300" height="300"/>
                  </figure>
                  <div class="team-classic-caption">
                    <h5><a class="team-classic-title" href="#">Md Alamgir Hossain</a></h5>
                    <p class="team-classic-job-position">#</p>
                    <ul class="list-inline list-team">
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                      <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </section>
  
       
       
        
        <!-- Footer Minimal-->
        <footer class="section page-footer page-footer-minimal novi-background bg-cover text-center bg-gray-darker">
          <div class="container container-wide">
            <div class="row row-fix justify-content-sm-center align-items-md-center row-30">
              <div class="col-md-10 col-lg-7 col-xl-4 text-xl-left"><a href="index.html"><img class="inverse-logo" src="" alt="" width="208" height="46"/></a></div>
              <div class="col-md-10 col-lg-7 col-xl-4">
                <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved. &nbsp;&nbsp;<a href="https://www.templatemonster.com"></a></p>
              </div>
              <div class="col-md-10 col-lg-7 col-xl-4 text-xl-right">
                <ul class="group-xs group-middle"> 
                  <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram" href="#"></a></li>
                  <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-google" href="#"></a></li>
                  <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-linkedin" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      <!-- </div> -->