      <section class="section">
      <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar">
                    <a  class="navbar-brand"><i class="fa fa-camera"></i> Amazing Destinations</a>
                    <a  style="font-size: large;"
                    class="nav-link"><span data-hover="Volunteer">Home</span></a>
                    <a  class="nav-link"><span
                            data-hover="Test Center">About Us</span></a>
                    <a  class="nav-link"><span
                            data-hover="Vaccination Center">Contact us</span></a>
                    <a class="nav-link"><span
                            data-hover="Resume">Typography
                            </span></a>
                    <a  class="nav-link"><span
                            data-hover="Contact">Book a tour now</span></a>
                    <a  style="font-size: large;" class="nav-link"><span
                            data-hover="Volunteer"></span><i class="fa fa-fw fa-user"></i>Admin Panel</a>
                </div>
            </div>
        </div>
    </nav>
      </section>


      <section class="section">
        <div class="swiper-form-wrap">
          <!-- Swiper-->
          <div class="swiper-container swiper-slider swiper-slider_height-1 swiper-align-left swiper-align-left-custom context-dark bg-gray-darker" data-loop="false" data-autoplay="false" data-simulate-touch="false" data-slide-effect="fade">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-slide-bg="assets/images/germany.jpg">
                <div class="swiper-slide-caption">
                  <div class="container container-bigger swiper-main-section">
                    <div class="row row-fix justify-content-sm-center justify-content-md-start">
                      <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                        <h3> Amazing Destinations</h3>
                        <p class="text-spacing-sm">We offer a variety of destinations in NRW.</p><a class="button button-default-outline button-nina button-sm" href="#">learn more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-slide-bg="">
                <div class="swiper-slide-caption">
                  <div class="container container-bigger swiper-main-section">
                    <div class="row row-fix justify-content-sm-center justify-content-md-start">
                      <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                        <h3>The Trip of Your Dream</h3>
                        <div class="divider divider-decorate"></div>
                        <p class="text-spacing-sm">Our travel agency is ready to offer you an exciting vacation that is designed to fit your own budgat and wishes.</p><a class="button button-default-outline button-nina button-sm" href="#">learn more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" data-slide-bg="">
                <div class="swiper-slide-caption">
                  <div class="container container-bigger swiper-main-section">
                    <div class="row row-fix justify-content-sm-center justify-content-md-start">
                      <div class="col-md-6 col-lg-5 col-xl-4 col-xxl-5">
                        <h3>unique Travel Insights</h3>
                        <div class="divider divider-decorate"></div>
                        <p class="text-spacing-sm">Our team is ready to provide you with unique weekly travel insights that include photos, videos, and articles about untravelled tourist paths. We know everything about the places you’ve never been to!</p><a class="button button-default-outline button-nina button-sm" href="#">learn more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Swiper controls-->
            <div class="swiper-pagination-wrap">
              <div class="container container-bigger">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container container-bigger form-request-wrap form-request-wrap-modern">
            <div class="row row-fix justify-content-sm-center justify-content-lg-end">
              <div class="col-lg-6 col-xxl-5">
                <div  style="margin-top: 74px;"class="form-request form-request-modern bg-gray-lighter novi-background">
                  <h4>Search your Tour</h4>
                  <!-- RD Mailform-->
                  <form class="rd-mailform form-fix">
                    <div class="row row-20 row-fix">
                      <div class="col-sm-12">
                        <div class="col-sm-13">
                          <label class="form-label-outside">Destination</label>
                          <div class="form-wrap form-wrap-validation">
                            <input class="form-input" id="budget" name="budget" type="text" placeholder="">
                          </div>
                        </div>
                      </div>
                     
                      <div class="col-sm-12 col-lg-6">
                        <label class="form-label-outside">From</label>
                        <div class="form-wrap form-wrap-validation">
                          <!-- Select -->
                          <input class="form-input" id="dateForm" name="date" type="text" data-time-picker="date">
                          <label class="form-label" for="dateForm">Choose the date</label>
                          <!--select.form-input.select-filter(data-placeholder="All", data-minimum-results-for-search="Infinity",  name='city')-->
                          <!--  option(value="1") Choose the date-->
                          <!--  option(value="2") Primary-->
                          <!--  option(value="3") Middle-->
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6">
                        <label class="form-label-outside">until</label>
                        <div class="form-wrap form-wrap-validation">
                          <!-- Select -->
                          <input class="form-input" id="dateForm" name="date" type="text" data-time-picker="date">
                          <label class="form-label" for="dateForm">Choose the date</label>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <label class="form-label-outside">Adults</label>
                        <div class="form-wrap form-wrap-modern">
                          <input class="form-input input-append" id="form-element-stepper" type="number" min="0" max="300" value="2">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <label class="form-label-outside">Children</label>
                        <div class="form-wrap form-wrap-modern">
                          <input class="form-input input-append" id="form-element-stepper-1" type="number" min="0" max="300" value="0">
                        </div>
                      </div>

                      

                          <!-- activites -->
                          <div class="col-sm-12">
                            <label class="form-label-outside">Activities</label>
                            <div class="form-wrap form-wrap-inline">
                              <select class="form-input select-filter" data-placeholder="All" data-minimum-results-for-search="Infinity"
                                name="activity">
                                <option value="1">Natur</option>
                                <option value="2">Restaurant</option>
                                <option value="3">museum</option>
                                <option value="4"> </option>
                              </select>
                            </div>
                          </div>

                          <!-- budget -->
                          <div class="col-sm-12">
                            <label class="form-label-outside">budget</label>
                            <div class="form-wrap form-wrap-validation">
                              <input class="form-input" id="budget" name="budget" type="text" placeholder="budget in Euro">
                            </div>
                          </div>

                    </div>

                    <div class="form-wrap form-button">
                      <button class="button button-block button-secondary" type="submit">search Tour</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-variant-1 bg-default novi-background bg-cover"> 
        <div class="container container-wide">
          <div class="row row-fix justify-content-xl-end row-30 text-center text-xl-left">
            <div class="col-xl-8">
              <div class="parallax-text-wrap">
                <h3>Our Best Tours</h3><span class="parallax-text">Hot tours</span>
              </div>
              <hr class="divider divider-decorate">
            </div>
            <div class="col-xl-3 text-xl-right"><a class="button button-secondary button-nina" href="#">view all tours</a></div>
          </div>
          <div class="row row-50">
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="assets/images/1.jpg" alt="" width="570" height="370"/>
                  </figure>
                  <div class="event-default-caption"><a class="button button-xs button-secondary button-nina" href="#">learn more</a></div>
                </div>
                <div class="event-default-inner">
                  <h5><a class="event-default-title" href="#">France, Paris</a></h5><span class="heading-5">from $280</span>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="assets/images/2.jpg" alt="" width="570" height="370"/>
                  </figure>
                  <div class="event-default-caption"><a class="button button-xs button-secondary button-nina" href="#">learn more</a></div>
                </div>
                <div class="event-default-inner">
                  <h5><a class="event-default-title" href="#">USA, Boston</a></h5><span class="heading-5">from $480</span>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="assets/images/3.jpg" alt="" width="570" height="370"/>
                  </figure>
                  <div class="event-default-caption"><a class="button button-xs button-secondary button-nina" href="#">learn more</a></div>
                </div>
                <div class="event-default-inner">
                  <h5><a class="event-default-title" href="#">Italy, Venice</a></h5><span class="heading-5">from $350</span>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="assets/images/4.jpg" alt="" width="570" height="370"/>
                  </figure>
                  <div class="event-default-caption"><a class="button button-xs button-secondary button-nina" href="#">learn more</a></div>
                </div>
                <div class="event-default-inner">
                  <h5><a class="event-default-title" href="#">Spain, Benidorm</a></h5><span class="heading-5">from $350</span>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="assets/images/5.jpg" alt="" width="570" height="370"/>
                  </figure>
                  <div class="event-default-caption"><a class="button button-xs button-secondary button-nina" href="#">learn more</a></div>
                </div>
                <div class="event-default-inner">
                  <h5><a class="event-default-title" href="#">Egypt,  Sharm El Sheikh</a></h5><span class="heading-5">from $520</span>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="assets/images/6.jpg" alt="" width="570" height="370"/>
                  </figure>
                  <div class="event-default-caption"><a class="button button-xs button-secondary button-nina" href="#">learn more</a></div>
                </div>
                <div class="event-default-inner">
                  <h5><a class="event-default-title" href="#">UK, London</a></h5><span class="heading-5">from $600</span>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- our advantages-->
      <section class="section section-lg bg-gray-lighter novi-background bg-cover text-center">
        <div class="container container-wide">
          <h3>our services</h3>
          

      <section class="section section-lg text-center bg-gray-lighter novi-background bg-cover">
        <div class="container container-bigger">
          <h3>Our clients feedback</h3>
          <div class="divider divider-decorate"></div>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-layout-1" data-items="1" data-dots="true" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-autoplay="false">
            <article class="quote-boxed">
              <div class="quote-boxed-aside"><img class="quote-boxed-image" src="assets/images/quote-user-1-210x210.jpg" alt="" width="210" height="210"/>
              </div>
              <div class="quote-boxed-main">
                <div class="quote-boxed-text">
                  <p> </p>
                </div>
                <div class="quote-boxed-meta">
                  <p class="quote-boxed-cite"></p>
                  <p class="quote-boxed-small"></p>
                </div>
              </div>
            </article>
            <article class="quote-boxed">
              <div class="quote-boxed-aside"><img class="quote-boxed-image" src="assets/images/quote-user-2-210x210.jpg" alt="" width="210" height="210"/>
              </div>
              <div class="quote-boxed-main">
                <div class="quote-boxed-text">
                  <p></p>
                </div>
                <div class="quote-boxed-meta">
                  <p class="quote-boxed-cite"></p>
                  <p class="quote-boxed-small"></p>
                </div>
              </div>
            </article>
            <article class="quote-boxed">
              <div class="quote-boxed-aside"><img class="quote-boxed-image" src="assets/images/quote-user-3-210x210.jpg" alt="" width="210" height="210"/>
              </div>
              <div class="quote-boxed-main">
                <div class="quote-boxed-text">
                  <p></p>
                </div>
                <div class="quote-boxed-meta">
                  <p class="quote-boxed-cite"></p>
                  <p class="quote-boxed-small"></p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>

      <section class="section section-lg text-center bg-gray-lighter novi-background bg-cover">
        <div class="container container-bigger">
          <h3>testimonials</h3>
          <div class="divider divider-decorate"></div>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-layout-1" data-items="1" data-dots="true" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-autoplay="true">
            <article class="quote-boxed">
              <div class="quote-boxed-aside"><img class="quote-boxed-image" src="assets/images/quote-user-1-210x210.jpg" alt="" width="210" height="210"/>
              </div>
              <div class="quote-boxed-main">
                <div class="quote-boxed-text">
                  <p>I wanted to thank you very much for planning the trip to France for my boyfriend and me. It was amazing and exceeded my expectations! We had a wonderful time and were very pleased with the accommodations in Paris and Bayeux. Our private/small tour guides were fantastic! I appreciate all the effort to get us to the Eiffel Tower finally. </p>
                </div>
                <div class="quote-boxed-meta">
                  <p class="quote-boxed-cite">Ann McMillan</p>
                  <p class="quote-boxed-small">Regular Customer</p>
                </div>
              </div>
            </article>
            <article class="quote-boxed">
              <div class="quote-boxed-aside"><img class="quote-boxed-image" src="assets/images/quote-user-2-210x210.jpg" alt="" width="210" height="210"/>
              </div>
              <div class="quote-boxed-main">
                <div class="quote-boxed-text">
                  <p>I had a marvelous time in our travels to Madagascar, Zimbabwe and Botswana, I had just wonderful experiences.I loved the location of the Gorges Camp as I felt like it was only the time we got to see real and rural Africans and how they truly lived. The service was amazing and everyone was very attentive!</p>
                </div>
                <div class="quote-boxed-meta">
                  <p class="quote-boxed-cite">Debra Ortega</p>
                  <p class="quote-boxed-small">Regular Customer</p>
                </div>
              </div>
            </article>
            <article class="quote-boxed">
              <div class="quote-boxed-aside"><img class="quote-boxed-image" src="assets/images/quote-user-3-210x210.jpg" alt="" width="210" height="210"/>
              </div>
              <div class="quote-boxed-main">
                <div class="quote-boxed-text">
                  <p>Just wanted to say many, many thanks for helping me set up an amazing Costa Rican adventure! My nephew and I had a blast! All of the accommodations were perfect as were the activities that we did (canopy, coffee tour, hikes, fishing, and massages!) We have such fond memories and can't thank you enough!</p>
                </div>
                <div class="quote-boxed-meta">
                  <p class="quote-boxed-cite">Samantha Smith</p>
                  <p class="quote-boxed-small">Regular Customer</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>

      <!-- <section class="section section-md text-center text-md-left bg-gray-700 novi-background bg-cover">
        <div class="container container-wide">
          <div class="row row-fix row-50 justify-content-sm-center">
            <div class="col-xxl-8">
              <div class="box-cta box-cta-inline">
                <div class="box-cta-inner">
                  <h3 class="box-cta-title">Buy a tour without leaving your home</h3>
                  <p>Using our website, you can book any tour just in a couple of clicks.</p>
                </div>
                <div class="box-cta-inner"><a class="button button-secondary button-nina" href="#">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </section><a class="section section-banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url(assets/images/banner/background-03-1920x310.jpg); background-image: -webkit-image-set( url(assets/images/banner/background-03-1920x310.jpg) 1x, url(assets/images/banner/background-03-3840x620.jpg) 2x )"><img src="assets/images/banner/foreground-03-1600x310.png" srcset="assets/images/banner/foreground-03-1600x310.png 1x, assets/images/banner/foreground-03-3200x620.png 2x" alt="" width="1600" height="310"></a> -->

      <!-- Footer Minimal-->

      <footer data-stellar-background-ratio="5">
        <div class="container">
             <div class="row">

                  <div class="col-md-4 col-sm-4">
                       <div class="footer-thumb">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>
                            <p>This is a travel project.I hope you will find it informative.you can contact us.thank
                                 you</p>

                            <div class="contact-info">
                                 <p><i class="fa fa-phone"></i> 010-070-0170</p>
                                 <p><i class="fa fa-envelope-o"></i> <a href="#">info@amazing-destinations.com</a></p>
                            </div>
                       </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                       <div class="footer-thumb">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s">Latest News</h4>
                            <div class="latest-stories">
                                 <div class="stories-image">
                                      <a href="#"><img src="assets/images/news-image.jpg" class="img-responsive"
                                                alt=""></a>
                                 </div>
                                 <div class="stories-info">
                                      <a href="#">
                                           <h5>Amazing Technology</h5>
                                      </a>
                                      <span>March 08, 2020</span>
                                 </div>
                            </div>

                            <div class="latest-stories">
                                 <div class="stories-image">
                                      <a href="#"><img src="assets/images/news-image.jpg" class="img-responsive"
                                                alt=""></a>
                                 </div>
                                 <div class="stories-info">
                                      <a href="#">
                                           <h5>New Healing Process</h5>
                                      </a>
                                      <span>February 20, 2020</span>
                                 </div>
                            </div>
                       </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                       <div class="footer-thumb">
                            <div class="opening-hours">
                                 <h4 class="wow fadeInUp" data-wow-delay="0.4s">About Us</h4>
                                 <p>Group Member <span></span></p>
                            </div>

                            <ul class="social-icon">
                                 <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                 <li><a href="#" class="fa fa-twitter"></a></li>
                                 <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                       </div>
                  </div>
             </div>
                  <div class="row">
                  <div class="col-md-12 col-sm-12 border-top">
                       <div class="col-md-4 col-sm-6">
                            <div class="copyright-text">
                                 <p>Copyright &copy; 2021 Rashed-Project

                                      | Design: <a rel="nofollow" href="https://www.facebook.com/tooplate"
                                           target="_parent">Part-2</a></p>
                            </div>
                       </div>                 
                  </div>

             </div>
        </div>
   </footer>

    <!-- </div> -->